<header>
  <div class="container row">
    <a class="brand" href="{{ config.base_url | safe }}">{{ config.title }}</a>
    <nav>
      <a href="{{ get_url(path='ctf') }}">CTF</a>
      <a href="{{ get_url(path='cp') }}">競プロ</a>
      <a href="{{ get_url(path='others') }}">Others</a>
      <a href="{{ get_url(path='tags') }}">Tags</a>
      <button id="theme-switcher" aria-label="toggle light/dark mode">
        <div class="light">{% include "icons/light-mode.html" %}</div>
        <div class="dark">{% include "icons/dark-mode.html" %}</div>
      </button>
    </nav>
  </div>
</header>
